<%= form_for(@cat) do |cat| %>
  <% if @cat.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cat.errors.count, "error") %> prohibited this cat from being saved:</h2>

      <ul>
      <% @cat.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end #if @cat.errrors.any? %>

      <table>
        <tr>
          <th><%= cat.label :name %></th>
          <td><%= cat.text_field :name %></td>
        </tr>
        <tr>
          <th><%= cat.label "Image"%></th>
          <td><%= cat.select :image_url, General.cat_images %></td>
        </tr>
        <tr>
          <th><%= cat.label :breed %></th>
          <td><%= cat.text_field :breed %></td>
        </tr>
        <tr>
          <th><%= cat.label :age %></th>
          <td><%= cat.number_field :age, in:0..20 %></td>
        </tr>
        <tr>
          <th><%= cat.label :arrival_date %></th>
          <td><%= cat.date_field :arrival_date %></td>
        </tr>
        <tr>
          <th><%= cat.label :notes %></th>
          <td><%= cat.text_area :notes %></th>
        </tr>
        <tr>
          <td><%= link_to 'Cancel', cats_path, class: "as-button" %></td>
          <td><%= cat.submit "Complete admission" %></td>
        </tr>
      </table>

<% end #form_for(@cat) %>
